* {
  box-sizing: border-box;
}

:root {
  --red-color: #ed0b0b;
  --green-color: #16b533;
}

.text-required {
  color: var(--red-color);
}

.body-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 30px;
}
